<!-- <div class="overall-metrics-container">
  <h3 class="light-bottom-border metric-title">Overall Metrics</h3>
  <div class="overall-metrics-stats-container">
    <div class="stat-container">
      <label class="stat-label">Stat One</label>
      <p class="stat-value">{{1235 | currency}}</p>
    </div>
    <div class="stat-container">
      <label class="stat-label">Stat Two</label>
      <p class="stat-value">$12135</p>
    </div>
    <div class="stat-container">
      <label class="stat-label">Stat Three</label>
      <p class="stat-value">$12435</p>
    </div>
    <div class="stat-container">
      <label class="stat-label">Stat Four</label>
      <p class="stat-value">$12335</p>
    </div>
    <div class="stat-container">
      <label class="stat-label">Stat Five</label>
      <p class="stat-value">$12765</p>
    </div>
  </div>
</div> -->

<div class="overall-metrics-container">
  <h3 class="light-bottom-border metric-title">{{ label }}</h3>
  <div class="overall-metrics-stats-container">
    <div class="stat-container" *ngFor="let element of dataLabelSets">
      <label class="stat-label">{{ element[0] }}</label>
      <p class="stat-value">{{ element[1] }}</p>
    </div>
  </div>
</div>
