.overall-metrics-container {
  display: flex;
  align-items: center;
  flex-flow: column wrap;
}

.overall-metrics-stats-container {
  display: flex;
  flex-flow: column wrap;
}

.metric-title {
  font-size: 2rem;
  margin: 16px 0px;
  padding-bottom: 8px;
}

@media screen and (min-width: 600px) {
  .overall-metrics-container {
    align-items: flex-start;
    margin: 0 auto;
  }

  .overall-metrics-stats-container {
    flex-flow: row wrap;
    gap: 120px;
  }

  .metric-title {
    font-size: 1rem;
    font-weight: 400;
  }

  .stat-container {
    margin-right: 32px;
  }
}
