.navbar {
  background-color: #2f009c;
  color: #fff;
  display: flex;
  align-items: center;
  flex-flow: column wrap;
  font-size: 0.75rem;
  padding-top: 16px;
}

.navbar-title {
  font-weight: 400;
}

.navbar-reports-dropdown {
  display: flex;
  align-items: center;
  border-bottom: 2px solid transparent;
  cursor: pointer;
  font-size: 0.875rem;
  padding: 16px 0px;
}

.navbar-reports-dropdown:hover {
  border-bottom: 2px solid #e36a00;
}

.dropdown-icon-grid {
  margin-right: 8px;
}

.dropdown-icon-caret {
  margin-left: 24px;
}

@media screen and (min-width: 600px) {
  .navbar {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    font-size: 1rem;
    padding: 0px 16px;
  }

  .navbar-title {
    border-bottom: 2px solid transparent;
  }

  .navbar-reports-dropdown {
    font-size: 1rem;
  }
}
