<div>
  <h3 class="light-bottom-border metric-title">Summary</h3>
  <div class="summary-grid">
    <h3 class="column-title" *ngFor="let columnName of layout">
      {{ columnName }}
    </h3>
    <ng-container *ngFor="let row of summaryDataGrid; let columnIndex = index">
      <span
        [class.even-row]="columnIndex % 2 === 0"
        class="data-point"
        *ngFor="let dataPoint of row"
        >{{ dataPoint }}</span
      >
    </ng-container>
    <span
      class="data-point total-data-point"
      *ngFor="let dataPoint of totaledDataRow"
    >
      {{ dataPoint }}
    </span>
    <!-- <div class="grid-header">Channel</div>
    <div class="grid-header">Segment</div>
    <div class="grid-header">Tactic</div>
    <div class="grid-header">Total Spend</div>
    <div class="grid-header">Media Spend</div>
    <div class="grid-header">Incrementality</div>
    <div class="grid-header">Sales (LT)</div>
    <div class="grid-header">Sales (i)</div>
    <div class="grid-header">% Sales (i)</div>
    <div class="grid-header">Orders (LT)</div>
    <div class="grid-header">Orders (i)</div>
    <div class="grid-header">% Orders (i)</div> -->
  </div>
</div>
